


<!-- block_course_recycle/catfilter -->
<div id="recycle-confirm-category-filter">
    <form id="recycle-confirm-category-filter-form" name="categoryfilter" method="post" action="{{{url}}}">
    <input type="hidden" name="fromcourse" value="{{id}}" />
    {{{select}}}
    </form>
</div>
<!-- /block_course_recycle/catfilter -->