

<!-- block_course_recycle/globals_table -->
<table class="generaltable">
    <tr>
        <th class="header">{{#str}}throw, block_course_recycle{{/str}}</th>
        <th class="header">{{#str}}archive, block_course_recycle{{/str}}</th>
        <th class="header">{{#str}}keep, block_course_recycle{{/str}}</th>
        <th class="header">{{#str}}reset, block_course_recycle{{/str}}</th>
        <th class="header">{{#str}}unset, block_course_recycle{{/str}}</th>
    </tr>
    <tr>
        <td class="header">{{globals.throw}}</td>
        <td class="header">{{globals.archive}}</td>
        <td class="header">{{globals.keep}}</td>
        <td class="header">{{globals.reset}}</td>
        <td class="header">{{globals.unset}}</td>
    </tr>
</table>
<!-- /block_course_recycle/globals_table -->
