

<!-- block_course_recycle/modal_edit_form -->
<div class="recycle-options">
    <div class="recycle-option">
        <input id="modal-stay" type="radio" name="recycleaction" value="Stay" class="hidden-input">
            <label for="modal-stay"><img src="{{{nothingpixurl}}}" alt="{{#str}}Stay, block_course_recycle{{/str}}"></label>
        <input id="modal-clone" type="radio" name="recycleaction" value="Clone" class="hidden-input">
            <label for="modal-clone"><img src="{{{clonepixurl}}}" alt="{{#str}}Clone, block_course_recycle{{/str}}"></label>
        <input id="modal-reset" type="radio" name="recycleaction" value="Reset" class="hidden-input">
            <label for="modal-reset"><img src="{{{resetpixurl}}}" alt="{{#str}}Reset, block_course_recycle{{/str}}"></label>
        <input id="modal-cloneandreset" type="radio" name="recycleaction" value="CloneAndReset" class="hidden-input">
            <label for="modal-cloneandreset"><img src="{{{cloneandresetpixurl}}}" alt="{{#str}}CloneAndReset, block_course_recycle{{/str}}"></label>
        <input id="modal-archive" type="radio" name="recycleaction" value="Archive" class="hidden-input">
            <label for="modal-archive"><img src="{{{archivepixurl}}}" alt="{{#str}}Archive, block_course_recycle{{/str}}"></label>
        <input id="modal-clonearchiveandreset" type="radio" name="recycleaction" value="CloneArchiveAndReset" class="hidden-input">
            <label for="modal-clonearchiveandreset"><img src="{{{clonearchiveandresetpixurl}}}" alt="{{#str}}CloneArchiveAndReset, block_course_recycle{{/str}}"></label>
        <input id="modal-delete" type="radio" name="recycleaction" value="Delete" class="hidden-input">
            <label for="modal-delete"><img src="{{{deletepixurl}}}" alt="{{#str}}Delete, block_course_recycle{{/str}}"></label>
    </div>
</div>
<!-- /block_course_recycle/modal_edit_form -->